*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
    overflow-x: scroll;
}
.kupon{
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: .2rem;
}
.indirim{
    margin-left: 69.4rem;
    font-size: x-small;

}
.yardım{
    font-size: x-small;
    margin-left: 2rem;
}       
.trendyol{
    margin-left: 2rem;
    font-size: x-small;

}
.logo{
    height: 120px;
    width: 10%;
    margin-left: 7rem;
    margin-top: -2rem;
}
.input-group{
    margin-left: 20rem;
    margin-top: -5rem;
    display: flex;
}
.giris:hover{
    color: orange;
}
.giristxt:hover{
    color: orange;
}
.giris{
    display: flex;
    margin-left: 72rem;
    margin-top: -2rem;
    color: black;
}
.giristxt{
    text-decoration: black;
    margin-left: 73.3rem;
    margin-top: -1.3rem;  
}
.fav{
    margin-top: -2.5rem;
    margin-left: 78rem;
}
.favori{
    margin-top: -1.5rem;
    margin-left: 79.3rem;
}
.favori:hover{
    color: orange;
}
.sepet:hover{
    color: orange;
}
.sepet{
    margin-top: -2.5rem;
    margin-left: 85rem;
}
.sepettxt{
    margin-top: -1.4rem;
    margin-left: 86.2rem;
}
.sepettxt:hover{
    color: orange;
}
.metin{
    margin-top: 2.8rem;
    margin-left: 11rem;
}

.mobilinp{
    display: none;
}

@media screen and (max-width:650px) {
    .kupon{
        display: none;
    }
    .mobilinp{
        display: inline;
    }
    .arama{
        display: flex;
        margin-top: -9rem;
        margin-left: 1rem;
        width: 60%;
    }
    .img{
        display: none;
}
.bi{
    margin-left: 21rem;
    margin-top: -3rem;
}
.butn{
    display: flex;
    margin-top: -1.8rem;
    margin-left: 16rem;
}
.metin{
    margin-left: -3rem;
   display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.metin h6 {
    /* display: none;  */
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .resimler{
    display: flex;
    margin-top: 8rem;
    margin-left: -8rem;
    flex-direction: row;
  }


    
}



.resim1{
    margin-left: 10rem;
}

.resim2,.resim3{
    margin-left: 2rem;
}
.resim3{
    margin-left: 2rem;
}

.image{
   height: 65px;
   margin-left: 5rem;
   margin-top: 3rem;

}
.image2{
    height: 65px;
    margin-left: 14rem;
   margin-top: -5.5rem;
   display: flex;
}
.resimler2{
    margin-left: 6rem;
}
.kapsa{
    margin-left: 5rem;
}
.kapsa2{
    margin-left: 14rem;
}
.image3{
    border-radius: 2rem;
    height: 65px;
    margin-left: 24rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa3{
    margin-left: 24rem;
}
.image4{
    height: 60px;
    margin-left: 33.5rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa4{
    margin-left: 33rem;
}
.image5{
    height: 60px;
    margin-left: 42.5rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa5{
    margin-left: 43.5rem;
    margin-top: .3rem;
}
.image6{
    height: 60px;
    margin-left: 50.5rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa6{
    margin-left: 51rem;
    margin-top: .3rem;
}
.image7{
    height: 60px;
    margin-left: 57.5rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa7{
    margin-left: 58rem;
    margin-top: .3rem;
}
.image8{
    height: 60px;
    margin-left: 63.7rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa8{
    margin-left: 64.5rem;
    margin-top: .3rem;
}

.image9{
    height: 60px;
    margin-left: 70.7rem;
   margin-top: -5.5rem;
   display: flex;
}
.kapsa9{
    margin-left: 71.3rem;
    margin-top: .3rem;
}
.image10{
    width: 25%;
    height: 60px;
    margin-top: 3rem;
    margin-left: 6rem;
}


.container {

    display: flex;
  }
  
  .container img {
    border-radius: 1rem;
    flex: 1;
    height: 200px;
    margin-top: 4rem;
    margin-left: 2rem;
    
  }

.resim11{
    border-radius: 1rem;
   margin-top: 5rem;
   margin-left: 9rem;
   height: 200px;
}
.resim21{
    margin-left: 2rem;
    height: 200px;
    margin-top: 5rem;
    border-radius: 1rem;

}
.resimm{
    margin-left: 2rem;
    height: 200px;
    margin-top: 5rem;
    border-radius: 1rem;
}
.coksatan{
    height: 450px;
    width: 85%;
    border-radius: 1rem;
    border: 1px solid red;
    background-color: beige;
    margin-left: 9rem;
    margin-top: 2rem;
}
.satanlaryazi{
    margin-left: 2rem;
    margin-top: 1.5rem;
}
.coksatan1{
    height: 350px;
    width: 18%;
    background-color: white;
    margin-left: 3rem;
    border-radius: 1rem;
}
.satanresim{
    height: 200px;
    margin-left: 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.satanyazi{
    margin-left: 1rem;
}
.satanfiyat{
    margin-left: 1rem;
}
.satanresim1{
    height: 200px;
    margin-left: 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.satanyazi1{
    margin-left: 1rem;
}
.satanfiyat1{
    margin-left: 1rem;
}
.coksatan2{
    height: 350px;
    width: 18%;
    background-color: white;
    margin-left: 22rem;
    margin-top: -22rem;
    border-radius: 1rem;
}
.coksatan5{
    height: 350px;
    width: 18%;
    background-color: white;
    margin-left: 22rem;
    margin-top: -22rem;
    border-radius: 1rem;
}
.coksatan3{
    height: 350px;
    width: 18%;
    background-color: white;
    margin-left: 40rem;
    margin-top: -22rem;
    border-radius: 1rem;
}
.coksatan10{
    height: 350px;
    width: 18%;
    background-color: white;
    margin-left: 40rem;
    margin-top: -22rem;
    border-radius: 1rem;
}
.satanfiyat3{
    margin-top: 2rem;
    margin-left: 1rem;
}
.coksatan4{
    height: 350px;
    width: 18%;
    background-color: white;
    margin-left: 60rem;
    margin-top: -22rem;
    border-radius: 1rem;
}
.satanyazi5{
    margin-left: 1rem;
    margin-top: 1rem;
}
.urun1{
    display: flex;
    height: 190px;
    margin-top: 2rem;
    margin-left: 9rem;
    border-radius: 1rem;
    z-index: 1;
   

}
.urunalan{
    display: flex;
    height: 45px;
    width: 25.5%;
    background-color: black;
    margin-left: 9rem;
    border-radius: rem;
    margin-top: 11.1rem;
    position: absolute;
    z-index: 3;
}
.urunalanyazi{
    color: white;
    font-size: 15px;
    margin-top: .8rem;
    margin-left: 1rem;
}
.urunalan:hover{
    background-color: orange;
}
.urunalan:hover{
    display: flex;
}
.hoveryazi{
    display: none;
    color: white;
}
.urunalan .hoveryazi {
   display: none;
}

.urunalan:hover .hoveryazi {
   display: block;
}
.hoveryazi{
    margin-left: 3rem;
    margin-top: 0.7rem;
}

.urunalan2{
    height: 45px;
    width: 25.5%;
    background-color: black;
    margin-left: 36.1rem;
    margin-top: 11.1rem;
    position: absolute;
}
.urunalanyazi2{
    color: white;
    font-size: 15px;
    margin-top: .8rem;
    margin-left: 1rem;
}
.urunalan2:hover{
    background-color: orange;
}
.urunalan2:hover{
    display: flex;
}
.hoveryazi2{
    display: none;
    color: white;
}
.urunalan2 .hoveryazi2 {
   display: none;
}

.urunalan2:hover .hoveryazi2 {
   display: block;
}
.hoveryazi2{
    margin-left: 13rem;
    margin-top: 0.7rem;
}
.urun2{
    height: 190px;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 1rem;
}
.urunler{
    display: flex;
}
.urun3{
    height: 190px;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 1rem;
}
.hoveryazi3{
    display: none;
    color: white;
    margin-left: 13rem;
    margin-top: .5rem;
}
.urunalan3{
    height: 45px;
    width: 25.5%;
    background-color: black;
    margin-left: 63.3rem;
    margin-top: 11.1rem;
    position: absolute;
}
.urunalanyazi3{
    color: white;
    font-size: 15px;
    margin-top: .8rem;
    margin-left: 1rem;
}
.urunalan3:hover .hoveryazi3 {
   display: block;
}
.urunalan3:hover{
    background-color: orange;
}
.urunalan3:hover{
    display: flex;
}
.hoveryazi4{
      display: none;
    color: white;
    margin-left: 13rem;
    margin-top: .5rem;

}
.urunalan:hover .hoveryazi4 {
   display: block;
}
.hoveryazi5{
     display: none;
    color: white;
    margin-left: 8rem;
    margin-top: .5rem;

}
.urunalan3:hover .hoveryazi5 {
   display: block;
}
.hoveryazi6{
     display: none;
    color: white;
    margin-left: 9rem;
    margin-top: .7rem;

}
.urunalan2:hover .hoveryazi6 {
   display: block;
}

.urunalan2:hover .hoveryazi8 {
   display: block;
}
.hoveryazi8{
     display: none;
    color: white;
    margin-left: 12.5rem;
    margin-top: .7rem;

}
.urunalan3:hover .hoveryazi8 {
   display: block;
}
.urunalan3:hover .hoveryazi7{
   display: block;
}
.hoveryazi7{
     display: none;
    color: white;
    margin-left: 12.5rem;
    margin-top: .7rem;

}
.urunalan3:hover .hoveryazi7{
   display: block;
}
.hoveryazi10{
     display: none;
    color: white;
    margin-left: 10rem;
    margin-top: .5rem;

}
.urunalan3:hover .hoveryazi10 {
   display: block;
}
.h4{
    margin-left: 10rem;
}
.paragraf1{
    margin-left: 10rem;
    font-size: 13px;
}
.h5{
    margin-left: 15rem;
}
.paragraf2{
    margin-left: 15rem;
    font-size: 14px;
}
.paragraf3{
    margin-top: -17rem;
    margin-left: 32rem;
    font-size: 14px;
}
.paragraf4{
    margin-top: -16.8rem;
    margin-left: 48rem;
    font-size: 14px;
}
.baslik{
    margin-left: 65rem;
    margin-top: -3rem;
}
.sayfalar{
    font-size: 14px;
    margin-top: -17rem;
    margin-left: 65rem;
}
.sayfalar2{
    font-size: 14px;
    margin-top: -17rem;
    margin-left: 82rem;
}
.About{
    margin-top: 2rem;
    height: 410px;
    width: 100%;
    background-color: black;
}
.aboutyazilar{
    color: white;
    margin-left: 16rem;
  padding: 4rem;
}
.aboutyazilar2{
    color: white;
    margin-left: 39rem;
    margin-top: -19rem;
}
.master{
    height: 70px;
    margin-left: 1rem;
}
.master2{
    height: 50px;
    margin-left: -2rem;
}
.master3{
    height: 40px;
}
.master4{
    height: 40px;
    margin-top: 1rem;
}
.master5{
    height: 40px;
    display: flex;
    margin-top: 1rem;

}
.master6{
    height: 40px;
    display: flex;
    margin-top: 1rem;
    width: 12%;

}
.kampanyalar{
    color: white;
    margin-left: 58rem;
  margin-top: -19.5rem;
}
.sosyalmedya{
    margin-top: 1rem;
    margin-left: 1rem;
}
.yardim{
    color: white;
    margin-left: 78rem;
  margin-top: -12.5rem;
}
.etbis{
    height: 60px;
}
.footer{
    height: 25px;
    width: 100%;
    background-color: rgb(43, 14, 14);
}
.footyazi{
    font-size: 12px;
    color: white;
    margin-left: 9rem;
   padding: .4rem;
}
.footyazi2{
    font-size: 12px;
    color: white;
    margin-left: 59rem;
    margin-top: -2.6rem;
}

@media screen and (max-width:650px) {
    .resim1{

        margin-left: 8.4rem;
    }
    .resim2{

    margin-top: 7rem;
    margin-left: -24rem;
}
.resim3{

    margin-top: 15rem;
    margin-left: -24rem;
}
.resimler2{
    display: none;
}
.image10{
    width: 80%;
    height: 100px;
    margin-left: 3rem;
}
.container2{
    margin-top: -2rem;
    margin-left: -6rem;
}
#en{
    

    margin-top: 19rem;
    margin-left: -25.2rem;
}
#enen{
   
    margin-top: 34rem;
    margin-left: -25.2rem;

}
.resim21{
    margin-left: 9rem;
}
.resimm{
    margin-left: 9rem;
}
.coksatan{
    height: 1250px;
    margin-left: 5rem;
}
.coksatan1{
    margin-top: 1rem;
    width: 70%;
    height: 350px;
}
.coksatan4{
    display: none;
}
.urun1{
    margin-left: 1rem;
}
.urun2{
    margin-left: -24rem;
    margin-top: 15rem;
}
.yazilar{
    margin-top: 45rem;
}
.urun3{
    margin-top: 29rem;
    margin-left: -24rem;
}
.coksatan2{
    width: 68%;
    height: 350px;
    margin-left: 3rem;
    margin-top: 2rem;
}
.coksatan5{
    width: 70%;
    height: 350px;
    margin-left: 3rem;
    margin-top: 3rem;
}
.box{
	border: thin black solid;
	display: block;
	text-align: center;
}
.coksatan10{
    width: 70%;
    height: 400px;
    margin-left: 3rem;
    margin-top: 2rem;
}
.coksatan3{
    width: 70%;
    height: 400px;
    margin-left: 3rem;
    margin-top: 2rem;
}
.urunalan{
    border-radius: 1rem;
    margin-top: 11rem;
    margin-left: 1.2rem;
    width: 102%;
}
.urunalan2{
    border-radius: 1rem;
    margin-top: 24rem;
    margin-left: 1.2rem;
    width: 102%;
}
.urunalan3{
    border-radius: 1rem;
    margin-top: 38rem;
    margin-left: 1.2rem;
    width: 102%;
}
.yazilar{
    margin-top: 1rem;
    margin-left: -7rem;
}
.h5{
    margin-left: 1rem;
}
.paragraf2{
    margin-left: 1rem;
}
.paragraf3{
    margin-left: 10rem;
}
.paragraf4{
    margin-top: 3rem;
    margin-left: 1rem;
}
.baslik{
    margin-top: rem;
    margin-left: 20rem;
}
.sayfalar{
    margin-top: -35rem;
    margin-left: 20rem;
}
.sayfalar2{
    margin-top: .5rem;
    margin-left: 20rem;
}
.aboutyazilar{
    margin-left: 1rem;
}
.master2{
    margin-left: 1rem;
}
.aboutyazilar2{
    margin-left: 4rem;
    margin-top: .5rem;
}
.About{
    height: 1300px;
}
.master6{
    width: 35%;
}
.kampanyalar{
    margin-top: 5rem;
    margin-left:3rem;
}
.bi{
    margin-left: .1rem;
    margin-top: 1rem;
}
.yardim{
    margin-left: 3rem;
    margin-top: 3rem;
}
.footer{
    display: none;
}
.bi5{
    margin-top: -3rem;
    margin-left: 20.5rem;
}





}
